body {
    font-family: Arial, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background 2s ease-in-out;
    background-image: url(hospital.jpeg);
    background-position: center;
  
  
}
  
.login-container {
  background-color: rgba(198, 218, 228, 0.74);
  padding: 40px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.login-container h2 {
  margin-bottom: 20px;
}
  
.login-container label {
  display: block;
  margin-bottom: 5px;
}
  
.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  
.login-container button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
.login-container button:hover {
  background-color: #0056b3;
}

.boton{
  padding: 10px;
  margin: 0px 0px 10px;
}