/* Estilos para mejorar la apariencia */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    height: 100%;
}
/* Estilos para el navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0; /* Cambia el padding vertical para ajustar al margen superior */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fija el navbar en la parte superior */
    top: 0; /* Lo pega en el margen superior */
    left: 0;
    right: 0; /* Extiende el navbar desde el margen derecho al izquierdo */
    z-index: 100; /* Asegura que el navbar esté por encima del contenido */
}

/* Otras reglas de estilo para el navbar, si las tienes */


.navbar-left {
    display: flex;
    align-items: center;
}

.hospital-icon {
    width: 40px;
    height: 40px;
    background-image: url('OIP.jpeg'); 
    background-size: cover;
    margin-right: 10px;
}

.hospital-name {
    font-weight: bold;
}





.dropdown-item {
    padding: 10px;
    text-decoration: none;
    color: #333;
    display: block;
    left: 10px; 
    
}

.background-image {
    background-image: url('hospital2.jpg'); /* Reemplaza 'background-image.jpg' con la URL de tu imagen */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca la imagen en el fondo */
}
  
#searchInput {
    width: 30%; /* Ajusta el ancho según tu preferencia, por ejemplo 50% */
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 70px;
}
  
  
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.8); /* Fondo transparente */
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

  
  
.nav-links a:hover {
    text-decoration: underline;
}
  
.content {
    padding: 20px;
}
  
.search-bar {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #355c7c73;
}


/* Estilo básico para el contenedor de botones */
.button-container {
    text-align: center;
    margin-top: 20px;
}
  
  /* Estilos para los botones */
.button {
    position: relative;
    padding: 10px 15px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #7097b8;
    color: #ffffff;
    text-decoration: none; /* Quita la subrayado de los enlaces */
    transition: background-color 0.3s, color 0.3s;
}
  
  /* Estilos al pasar el ratón sobre los botones */
.button:hover {
    background-color: #253c68;
    color: #ffffff;
}
  