body{
    background-color:rgb(81, 126, 139);
}

table{
    border-color:rgb(0, 0, 0);
}
td{
    color: rgb(18, 8, 53);
    font-family:'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: rgb(2, 2, 2);
    font-family: 'Times New Roman', Times, serif;
}
th{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}