body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #507c8a;
  }

#searchInput {
    width: 30%; /* Ajusta el ancho según tu preferencia, por ejemplo 50% */
    padding: 10px;
}
  
  
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1c5e72;
    padding: 10px;
    color: rgba(38, 122, 141, 0.705);
}
  
.logo img {
    max-height: 40px;
}
  
.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration:none;
    padding: 0 10px;
}
  
.nav-links a:hover {
    text-decoration: underline;
}
  
.content {
    padding: 40px;
}
  
.search-bar {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #355c7c73;
}
  


  